    /* ... other styles ... */
    /* * { border: thin solid pink } */
    /* Header styles */
    .website_header {
        background-color: rgb(77,109,127); /* Set header background color */
        /* text-align: center; /* Center the title */
        display: flex; /* Use flexbox for layout */
        align-items: center;
        /* justify-content: left; /* Center content horizontally */
        /* align-items: center; /* Center content vertically */
        height: 60px; /* Set a fixed height */
        margin-top: 30px;
    }

    body {
        background-image: url("images/background_dark.png");
        color : white;
        zoom: 150%;
        background-size: cover; /* Ensures the image covers the entire element */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-attachment: fixed; /* The background image will not scroll with the page */
    }

    a {
        color: white;
    }

    .leftpadding {
        flex: 1; /* Use remaining space */
    }

    .small_leftpadding {
        flex: 0.5; /* Use remaining space */
    }

    .website_header .daseingemachte {
        display: flex; /* Use flexbox for layout */
        /* justify-content: left; /* Center content horizontally */
        align-items: center; /* Center content vertically */
    }

    .rightpadding {
        flex: 5; /* Use remaining space */
    }

    .logo {
        width: 100px; /* Set logo width */
        height: 100px; /* Set logo height */
        margin-right: 20px; /* Add some space between logo and title */
    }

    .website_title {
        font-size: 48px;
        color: #ffffff;
    }

    /* Content styles */
    .website_content {
        display: flex; /* Use flexbox for layout */
        align-items: center;
    }

    .website_content .leftpadding {
        min-width: 150px; /* Set minimum width */
    }

    .website_content .menu_bar {
        display: flex; /* Use flexbox for layout */
        align-items: center;
        background-color: rgb(77,109,127);
        padding-right: 20px;
        border-radius: 10px; /* Add round edges */
        margin: 10px; /* Add black margin */
        border: 5px solid rgb(44,66,85);
        top: 100px;
        position: fixed;
        /* background-color: black; */
    }
    .image-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    figure {
        position: relative; /* Establishes a positioning context for absolute positioning of the hovertext */
        text-align: center;
        margin: 0 10px;
    }
    
    .symbol {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    figcaption {
        font-style: italic;
    }
    
    .hovertext {
        position: absolute; /* Position the hovertext in relation to the figure */
        bottom: 100%; /* Position it above the image */
        left: 50%; /* Start at the middle of the figure */
        transform: translateX(-50%); /* Center the hovertext */
        white-space: nowrap; /* Ensure the text doesn't wrap */
        visibility: hidden; /* Hide it by default */
        opacity: 0;
        transition: visibility 0s, opacity 0.5s ease-in-out; /* Smooth transition for the tooltip appearance */
        background-color: black; /* Tooltip background */
        color: white; /* Tooltip text color */
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        /* Add more styling as needed (e.g., font size, padding, etc.) */
    }
    
    figure:hover .hovertext {
        visibility: visible; /* Show the hovertext on hover */
        opacity: 1;
        bottom: 110%; /* Adjust if needed to position the hovertext correctly */
    }
    .game_buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Adjust the space between buttons */
        justify-content: center; /* Center the buttons container */
        padding: 20px; /* Add some padding around the buttons */
    }

    .game_buttons button {
        padding: 10px 20px; /* Add some padding inside the buttons */
        font-size: 16px; /* Adjust font size as needed */
        color: rgb(0, 0, 0); /* Text color */
        background-color: #ffffff; /* Default background color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Change mouse cursor on hover */
        transition: background-color 0.3s ease, transform 0.1s; /* Smooth transition for background color and transform */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    }

    .game_buttons button:hover {
        transform: translateY(-2px); /* Slightly raise the button */
    }

    .game_buttons input[type="number"] {
        padding: 10px 20px; /* Add some padding inside the buttons */
        font-size: 16px; /* Adjust font size as needed */
        color: rgb(0, 0, 0); /* Text color */
        background-color: #ffffff; /* Default background color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Change mouse cursor on hover */
        transition: background-color 0.3s ease, transform 0.1s; /* Smooth transition for background color and transform */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    }

    .game {
        /* Add any other styling as needed */
        padding: 10px 20px; /* Add some padding inside the buttons */
        
    }

    .game_container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Adjust the space between buttons */
        justify-content: center; /* Center the buttons container */
        padding: 20px; /* Add some padding around the buttons */
    }

    /* Container for the cards */
#player_cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Basic styling for each card */
  .cards {
    width: 100px; /* Card width */
    height: 150px; /* Card height */
    margin: 10px; /* Space between cards */
    border-radius: 10px; /* Rounded corners for the cards */
    perspective: 1000px; /* Depth effect for flipping */
  }
  
  /* Front and back of the card */
  .card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Hide the back side when it's flipped */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.6s; /* Smooth flip transition */
    background-size: cover; /* Cover the entire area of the card */
    background-position: center; /* Center the image */
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
    text-align: center; /* Ensure text within is centered as well */
  }
  
  /* Front styling */
  .card-front {
    /* background: rgb(28, 116, 75);  */
    background-image: url("images/card_design-1.png");
    
  }
  
  /* Back styling */
  .card-back {
    background-image: url("images/card_design-2.png");
    transform: rotateY(180deg); /* Flip the back side */
  }
  
  /* Flip effect on click */
  .cards.flipped .card-front {
    transform: rotateY(180deg); /* Flip to back */
  }
  
  .cards.flipped .card-back {
    transform: rotateY(0deg); /* Align back to front */

  }

  .deactivated_card {
    opacity: 0.5;
  }

 .person-icon {
  width: 50px; /* Increased width */
  height: 50px; /* Increased height */
  margin-right: 20px; /* Added margin to separate from logo */
}
  
  .login-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }